<div class = "row">

<%= render 'users/template', user: @user, book: @book %>
 <p><strong>Title:</strong>
<%= @book.title %></p>
 <p><strong>Body:</strong>
<%= @book.body %></p>

<div class="pagination">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", '/books' %>
</div>