<%= render 'users/template', user: @user, book: @book %>
<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
	<div class="col-sm-9">
		<h2>Book detail</h2>
		<table class="table">
			<tbody>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'jpg',fallback: "no_image.jpg" %>
						<br><%= @user.name %>
					</td>

					<td>
						<%= @book.title %>
					</td>

					<td>
						<%= @book.body %>
					</td>

					<td>
					<%= link_to"Edit", edit_book_path,class: "btn btn-success btn-xs" %>
					</td>

					<td><%= link_to"Destroy", book_path(@book.id), method: :delete, class: "btn btn-danger btn-xs", "data-confirm" => "本当に消しますか？" %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<%= render 'users/template2' %>